@import 'btns';



body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}




.registration:hover {
    cursor: pointer;
}

.modal,
.modal1,
.modal2,
.modal3 {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index: 11111111;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.modal1.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.modal2.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.modal3.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.modal.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.main-carousel {

    padding: 10px;

}

h2 {
    padding: 20px;
}

.carousel-cell-img {
    height: 50px;
    padding: 5px;
    cursor: pointer !important;


}

.main-section {

    display: flex;
    flex-direction: column;


    &_p {
        padding: 0px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid rgba(128, 128, 128, 0.17);

        p:first-child {
            margin-left: 0px;
        }

        p {
            margin-left: 10px;
        }

        .reg {

            display: flex;
            flex-direction: row;
        }

    }

    &_btn {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &_span-selector {
            font-size: 20px;
            margin-right: 10px;
            display: flex;
            margin-top: 5px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        &_btn-selector {
            margin-top: 10px;
            text-decoration: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            width: 40px;
            height: 40px;
            color: #1a1a1a;
            background: rgba(24, 39, 209, 0.88);
            border-radius: 50%;
            border: none;
            box-shadow: 0px 0px 10px 0px rgba(53, 51, 196, 1);



            &:after {
                font-family: serif;
                content: "+";
                color: white;
                font-size: 30px;

            }


        }
    }

}

.payments-info {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;

    &_text {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.2);
        font-weight: bold;
        padding-left: 50px;
        padding-top: 20px;
    }

    &_money {
        font-size: 28px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        padding-left: 50px;
    }
}

.today-info {
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

    &_text {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.4);


    }

    &_money {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.4);


    }
}

.orders {
    max-height: 50vh;
}

.info_pack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);

    &_row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 80%;

        &_text {
            float: left;
            font-size: 17px;
        }
    }


    &_money {
        font-weight: bold;
    }
}

.inputs {
    padding: 20px;
    display: flex;
    flex-direction: row;


}

.group {
    display: flex;
    flex-direction: column;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    box-sizing: border-box;
    font-size: 18px;
    height: 40px;
    padding: 10px 0px;
    position: relative;
    width: 90%;

    &:focus {
        outline: none;
    }
}

input::-webkit-input-placeholder {
    color: #AAA;
}



.main_blck_order_toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;
}

.main_block_order {
    height: auto;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;



    &_crypto {
        display: flex;
        flex-direction: row;
    }

    &_income {
        font-size: 25px;
        padding: 10px;
    }



    &_percent {
        padding: 5px 15px;

        font-size: 18px;
    }
}

.center_block_order {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &_details {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 600;
    }

}

.spans {
    display: flex;
    flex-direction: column;
}

.cryptoname {
    text-transform: capitalize;
}

.info_pack_text {
    text-transform: capitalize;
}

.center_block_order_details p {
    margin: 10px;
}

.green {

    color: #20d36f;
    background: #e9f5f0;
}

.red {
    background: rgba(217, 32, 32, 0.19);
    color: #771630;
}

.gray {
    background: #dedede;
    color: #585858;
}

.formDiv {
    margin-bottom: 15px;
    width: 90%;
    margin-left: 5%;
    position: relative;
    border-radius: 3px;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        background: #f4f4f4;
        border: none;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        font-size: 16px;
        color: #444;
        position: relative;
        font-family: 'Lato', sans-serif;
    }



    input[type="submit"] {
        width: 100%;
        box-sizing: border-box;
        background: rgba(24, 39, 209, 0.88);
        box-shadow: 0px 0px 10px 0px rgba(53, 51, 196, 1);
        border: none;
        color: #fff;
        font-size: 14px;
        padding: 10px 0;
        border-radius: 3px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s ease;
        font-family: 'Lato', sans-serif;


    }
}
